version: '3'

volumes:
  db_vol:
    driver: local

services:
  db:
    image: mysql/mysql-server:8.0
    container_name: dev-db
    restart: always
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_520_ci
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: dev-db
    ports:
      - '33070:3306'
    volumes:
      - db_vol:/var/lib/mysql

  test-db:
    image: mysql/mysql-server:8.0
    container_name: test-db
    restart: always
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_520_ci
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: test-db
    ports:
      - '33071:3306'

  redis:
    image: redis:6.0
    container_name: dev-redis
    restart: always
    ports:
      - '6379:6379'